@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
}

h2 {
  text-transform: uppercase;
}

.navbar {
  background-size: cover;
  background-repeat: repeat;
}

.navbar .logo {
  width: 25px;
  border-radius: 10%;
  transition: 0.5s;
}

.navbar .logo:hover {
  width: 30px;
}

footer {
  background-repeat: no-repeat;
  background-size: cover;
  height: auto;
}

footer .footer-div {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

footer .footer-div .footer-nav ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  list-style: none;
  text-decoration: none;
}

footer .footer-div .footer-nav ul li a {
  color: rgb(114,39,122);
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

footer .footer-div .footer-up img {
  width: 90px;
  height: 90px;
}

footer .email {
  font-family: "Roboto", sans-serif;
  color: rgb(152,152,152);
}

footer .footer-link {
  text-align: center;
}

footer .footer-link img {
  width: 40px;
  margin: 0.5vw;
}

@media screen and (min-width: 480px) {
  footer .footer-div .footer-nav ul {
    flex-direction: row;
  }

  footer .footer-div .footer-nav ul li {
    margin: 10px;
  }
}

.grid-container {
  display: grid;
  grid-template-rows: auto 300px auto 300px auto 300px;
}

.grid-container .flex-container {
  padding: 20px;
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  height: 300px;
  font-family: "Roboto", sans-serif;
  color: rgb(152,152,152);
}

.grid-container .flex-container h2 {
  font-size: 30px;
}

.grid-container .flex-container p {
  font-size: 20px;
}

@media screen and (max-width: 320px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto 250px auto 250px auto 250px;
  }
  .grid-container .flex-container {
    height: 250px;
  }
}

@media screen and (max-width: 767px) {
  .display-none {
    display: none;
  }
}

@media screen and (min-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-rows: auto 500px auto 500px auto 500px;
  }
  .grid-container .flex-container {
    height: 500px;
  }
  .display-none img {
    border-radius: 3%;
    width: 45vw;
    margin: 2vw;
  }
}

.library-main {
  background-size: cover;
}

.library-img {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.library-img img {
  width: 70vw;
}

.library-flex-container {
  display: flex;
  flex-direction: column;
  box-shadow: 1px 1px 10px 10px rgba(0, 0, 0, 0.623);
}

.library-flex-container .book-flex-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.library-flex-container .book-flex-container .book {
  width: 80vw;
  border-radius: 5%;
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  margin: 20px;
  box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.479);
}

.library-flex-container .book-flex-container .book img {
  width: 70vw;
  padding-top: 10px;
  border-radius: 3%;
}

.library-flex-container .book-flex-container .book .accordion {
  padding: 10px;
  font-family: "Roboto", sans-serif;
}

.library-flex-container .book-flex-container .book .accordion .accordion-ul {
  padding: 0;
  list-style: none;
}

.library-flex-container .book-flex-container .book .accordion .accordion-ul li a {
  text-decoration: none;
  color: darkmagenta;
}

@media screen and (max-width: 479px) {
  .library-img {
    padding: 0;
  }
}

@media screen and (min-width: 480px) {
  .library-flex-container .book-flex-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: none;
  }
  .library-flex-container .book-flex-container .book {
    width: 40vw;
  }
  .library-flex-container .book-flex-container .book img {
    width: 35vw;
  }
}

@media screen and (min-width: 1024px) {
  .library-flex-container {
    flex-direction: row;
    justify-content: space-around;
  }
  .library-flex-container .book-flex-container .book {
    width: 24vw;
    margin: 4px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .library-flex-container .book-flex-container .book img {
    width: 22vw;
  }
}

.event-box-container {
  padding-top: 30px;
  padding-bottom: 30px;
}

.event-box-container .event-box {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  overflow: hidden;
  height: 100vh;
  align-items: center;
  background-color: rgb(152,152,152);
}

.event-box-container .event-box .event {
  background-color: rgb(152,152,152);
  border: dashed 2px black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: auto;
  width: 99%;
  margin: 10px;
  border-radius: 10px;
  overflow: hidden;
}

.event-box-container .event-box .event .event-img {
  width: 100%;
  text-align: center;
}

.event-box-container .event-box .event .event-img img {
  width: 100%;
  height: 100%;
}

.event-box-container .event-box .event a {
  text-decoration: none;
}

.event-box-container .event-box .event a .event-text {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.event-box-container .event-box .event a .event-text h2 {
  font-size: 25px;
  color: black;
}

.event-box-container .event-box .event a .event-text p {
  font-size: 20px;
  color: black;
  opacity: 50%;
}

@media screen and (min-width: 480px) {
  .event-box-container .event-box .event {
    flex-direction: row;
    justify-content: flex-start;
  }
  .event-box-container .event-box .event .event-img {
    width: 60%;
    height: 100%;
  }
  .event-box-container .event-box .event .event-img img {
    width: 100%;
    height: 100%;
  }
  .event-box-container .event-box .event a .event-text {
    text-align: left;
    margin: 5px;
  }
}

@media screen and (min-width: 768px) {
  .event-box-container .event-box .event {
    height: 30%;
  }
  .event-box-container .event-box .event .event-img {
    width: 35%;
    height: 100%;
  }
}


.register-title {
  padding: 40px;
  animation-name: expand;
  animation-duration: 2s;
}

@keyframes expand {
  20% {
    rotate: -20deg;
  }
  40% {
    rotate: 20deg;
  }
  60% {
    rotate: -20deg;
  }
  80% {
    rotate: 0deg;
  }
}

.register-section {
  padding: 10px;
}

.register-section .register-flex-container {
  display: flex;
  flex-direction: column;
  background-color: rgba(240, 245, 240, 0.756);
  border-radius: 15px;
}

.register-section .register-flex-container .register {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  border: dashed 2px black;
  border-radius: 10px;
}

.register-section .register-flex-container .register h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Roboto", sans-serif;
}

.register-section .register-flex-container .register h2 b {
  color: darkmagenta;
}

.register-section .register-flex-container .register-button {
  padding: 5px;
}

.register-section .register-flex-container .register-button .modal-body {
  background: rgba(240, 245, 240, 0.129);
  background: linear-gradient(0deg, rgba(240, 245, 240, 0.405) 0%, rgba(240, 245, 240, 0.549) 100%);
}

.register-section .register-flex-container .register-button .modal-body label {
  text-transform: uppercase;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}

.register-section .register-flex-container .register-mid {
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (min-width: 480px) {
  .register-section .register-flex-container .register {
    padding: 20px;
  }
}

@media screen and (min-width: 600px) {
  .register-section .register-flex-container {
    flex-direction: row;
  }
}

@media screen and (min-width: 768px) {
  .register-section {
    padding: 30px;
  }
  .register-section .register-flex-container .register {
    padding: 40px;
  }
}

.card-container {
  display: grid;
  grid-template-rows: auto auto auto;
  justify-content: center;
  align-items: center;
}

.card-container .card {
  background-color: rgba(240, 245, 240, 0.756);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  padding: 0;
  animation-name: rotate-card;
  animation-duration: 0.5s;
}

@keyframes rotate-card {
  20% {
    rotate: 2deg;
  }
  40% {
    rotate: -2deg;
  }
}

.card-container .card .card-text {
  text-align: center;
  height: auto;
  margin: 10px;
  font-family: "Roboto", sans-serif;
}

.card-container .card .card-text h2 {
  font-size: 30px;
}

.card-container .card .card-text p {
  font-size: 15px;
}

.card-container .card .card-text ul {
  text-align: left;
}

.card-container .card .card-img img {
  width: 100vw;
}

.card-container .card .offcanvas-body {
  font-family: "Roboto", sans-serif;
}

@media screen and (max-width: 479px) {
  .card-container .card .card-canva {
    display: none;
  }
}

@media screen and (min-width: 480px) {
  .card-container .card {
    flex-direction: row;
  }
  .card-container .card .card-img img {
    width: 100%;
    height: 100%;
  }
  .card-container .card .card-canva {
    display: flex;
    align-items: center;
    padding: 2px;
  }
  .card-container .card .card-text {
    display: none;
    font-family: "Roboto", sans-serif;
  }
}

@media screen and (min-width: 600px) {
  .card-container .card {
    margin: 20px;
  }
}

@media screen and (min-width: 768px) {
  .card-container .card {
    width: 80vw;
  }
}

/*# sourceMappingURL=style.css.map */